html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    padding: 5px;
    /*background-color: whitesmoke;*/
    background-color: rgba(245, 245, 245, 0.75);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.floating-input {
    padding: 3px;
}

#search-field {
    text-overflow: ellipsis;
}
.gm-style-iw .info-image {
    max-width: 150px;
}
/*{*/
    /*max-width: 150px;*/
/*}*/
.info-title {
    font-style: oblique;
}

#search {
    flex-basis: 10;
}
#filter {
    flex-basis: 10;
}
#locations {
    font-size: small;
    color: #343434;
    flex-basis: 70;
}
/*.message-data {*/
    /*display: inline-block;*/
/*}*/
.completed {
    background-color: #41B141;
    display: inline-block;
}
.loading {
    background-color: yellow;
    display: inline-block;
}
.error {
    background-color: red;
    display: inline-block;
}
.none {
    display: none;
}
.tt-menu {
    background-color: whitesmoke;
}