html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
@media screen and (min-device-width: 600px) {
    body{
        font-size: 18px;
    }
}

@media screen and (min-width:1070px){
    #hamburger {
        display: none;
    }
}

#map {
    height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    padding: 5px;
    background-color: rgba(245, 245, 245, 0.75);
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
#content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

#content.hide {
    display: none;
}

.floating-input {
    padding: 3px;
    display: inline-flex;
    width: 20.5em;
}

label {
    flex-basis: 32%;
}

#search-field {
    text-overflow: ellipsis;
}
.gm-style-iw .info-image {
    max-width: 9.4em;
}
.info-title {
    font-style: oblique;
}
#locations {
    font-size: 0.8em;
    color: #343434;
    overflow: hidden;
}
#locations span {
  vertical-align: middle;
}
.completed {
    background-color: #41B141;
    display: inline-block;
}
.loading {
    background-color: yellow;
    display: inline-block;
}
.error {
    background-color: red;
    display: inline-block;
}
.none {
    display: none;
}
.tt-menu {
    background-color: whitesmoke;
}

/*https://css-tricks.com/three-line-menu-navicon/*/
#hamburger {
  position: relative;
  padding-left: 1.25em;
  margin-bottom: 1.5em;
}
#hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}